@model StocksApp.Models.StockTrade

<label class="label-margin">Stocks > @Model.StockName</label>

<form method="post">
    <div class="flex-container stock-frame">
        <div class="stock-info">
            <h1 class="font-color-blue">
                @Model.StockName
                (@Model.StockSymbol)
            </h1>
            <div class="flex">
                <h1 class="price"> $ @($"{Model.Price:F2}") </h1>
            </div>
        </div>

        <div class="new-order">
            <h3 class="new-order-title">New order</h3>
            <h4 class="quantity-label"> Quantity </h4>
            <input type="number" name="Quantity" asp-for="Quantity" min="1" max="100000" placeholder="Quantity" required="required" class="quantity-input" autofocus="autofocus" />
            
            <div class="button-container">
                <button type="submit" formaction="~/Trade/BuyOrder" class="buy-button">
                    <span>Buy</span>
                </button>
                <button type="submit" formaction="~/Trade/SellOrder" class="sell-button">
                    <span>Sell</span>
                </button>
            </div>

        </div>

        <input type="hidden" asp-for="StockSymbol" />
        <input type="hidden" asp-for="StockName" />
        <input type="hidden" asp-for="Price" id="price" />
        <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />

    </div>
</form>


@section scripts
{}


